@font-face{
    font-family: "Playball";
    src: url('fonts/Playball.ttf') format("truetype");
    font-weight: normal;
}
@font-face {  
    font-family: 'MaidenOrange';
    src: url('fonts/MaidenOrange.ttf') format("truetype");
    font-weight: normal;
}

body {
    margin: 0;
    padding:0;
    width: 100%;
    color: #424242
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    
                        "header"
                        "actualités"
                        "main-foot"
                        "footer"
    }
html {
    font-size: 62.5%;
}
a {
    text-decoration-line: none;
    color:#424242;
}
header {
    grid-area: header;
    background-color: #FFF3E0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
    .nav-titre {
        font-size: 3.5rem;
        font-family: "playball";
}
    nav ul {
        display:flex;
    }
    nav li {
        margin-right: 5rem;
        list-style-type: none;
        font-size: 2.5rem;
        font-family: "playball";
    }
.titre-actu {
    padding-left: 15rem;
    font-size: 3.5rem;
    background-color: #FFE0B2;
    font-family: "playball";
}
button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-family: "MaidenOrange";
    background-color: #FFE0B2;
    font-size: 2rem;
    cursor: pointer;
}
button:hover {
    transform: scale(1.01);
}
.actualités {
    grid-area: actualités;
    font-family: "MaidenOrange";
}
    .les-articles div {
        width: 30rem;
    }
    .les-articles {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        font-size: 2rem;
}
    .article img {
        width: 30rem;
        height: 25rem;
    }
.main-foot {
    grid-area: main-foot;
    background-color: #FFCC80;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 2rem;
    font-family: "playball";
}
.main-foot ul, li {
    list-style-type: none;
    padding: 0;
}
    .reseaux img {
        width: 3rem;
    }
footer {
    grid-area: footer;
    background-color: #FFB74D;
    text-align: center;
    font-size: 1.5rem;
}

nav label {
    display: none
}
#menu-mobile {
    display: none;
}

/*de smartphone et tablette*/
@media screen and (max-width: 1200px) {
    html { 
        font-size: 62.5%;
    }
}
@media screen and (max-width: 992px) {
     header nav label {
        display: block;
        background-color:#FFF3E0 ;
        text-align: center;
        font-size: 3.5rem;
        font-family: "playball";
        padding: 1.2rem 0rem;
    }
        nav input[type=checkbox]:checked ~ ul {
            display: block;
        }
        nav ul, .nav-titre {
            display: none;
        }
    .titre-actu {
        text-align: center;
        padding-left: 0;
    }
    .les-articles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .les-articles div {
            margin-bottom: 2rem;
        }
    .main-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .main-foot div {
            width: 18rem;
        }
}    
    
